/*@charset "UTF-8";*/

/*@font-face {*/
/*    font-family: 'Cairo Regular';*/
/*    font-style: normal;*/
/*    src: url(cairo-regular.ttf) format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Material Icons';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Material Icons'),*/
/*    local('MaterialIcons-Regular'),*/
/*    url(https://www.ninava.gov.iq/css/MaterialIcons-Regular.ttf) format('truetype');*/
/*}*/

/*.Cairo-Regular {*/
/*    font-family: 'Cairo Regular', serif;*/
/*}*/



/*.material-icons {*/
/*    font-family: 'Material Icons';*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: 24px;  !* Preferred icon size *!*/
/*    display: inline-block;*/
/*    line-height: 1;*/
/*    text-transform: none;*/
/*    letter-spacing: normal;*/
/*    word-wrap: normal;*/
/*    white-space: nowrap;*/
/*    direction: ltr;*/

/*    !* Support for all WebKit browsers. *!*/
/*    -webkit-font-smoothing: antialiased;*/
/*    !* Support for Safari and Chrome. *!*/
/*    text-rendering: optimizeLegibility;*/

/*    !* Support for Firefox. *!*/
/*    -moz-osx-font-smoothing: grayscale;*/

/*    !* Support for IE. *!*/
/*    font-feature-settings: 'liga';*/
/*}*/

/*body {*/
/*    font-family: 'Cairo Regular', serif;*/
/*    font-size: 1em;*/
/*}*/


/*#wrapper {*/
/*    overflow-x: hidden;*/
/*}*/

/*#sidebar-wrapper {*/
/*    min-height: 100vh;*/
/*    margin-right: -15rem;*/
/*    transition: margin 0.25s ease-out;*/
/*}*/

/*#sidebar-wrapper .sidebar-heading {*/
/*    padding: 0.875rem 1.25rem;*/
/*    font-size: 1.2rem;*/
/*}*/

/*#sidebar-wrapper .list-group {*/
/*    width: 15rem;*/
/*}*/

/*#page-content-wrapper {*/
/*    min-width: 100vw;*/
/*}*/

/*body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*    margin-left: 0;*/
/*}*/


/*@media (min-width: 768px) {*/
/*    #sidebar-wrapper {*/
/*        margin-left: 0;*/
/*    }*/

/*    #page-content-wrapper {*/
/*        min-width: 0;*/
/*        width: 100%;*/
/*    }*/

/*    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*        margin-left: -15rem;*/
/*    }*/

/*}*/


/*!*@media (min-width: 480px) {*!*/
/*@media (min-width: 480px) {*/
/*    #sidebar-wrapper {*/
/*        margin-right: 0;*/
/*    }*/

/*    #page-content-wrapper {*/
/*        min-width: 0;*/
/*        width: 100%;*/
/*    }*/

/*    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*        margin-left: -15rem;*/
/*    }*/

/*}*/


/*!*@media (min-width: 480px) {*!*/
/*@media (min-width: 420px) {*/
/*    #sidebar-wrapper {*/
/*        margin-right: 0;*/
/*    }*/

/*    #page-content-wrapper {*/
/*        min-width: 0;*/
/*        width: 100%;*/
/*    }*/

/*    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*        margin-left: -15rem;*/
/*    }*/

/*}*/


/*!*@media (min-width: 480px) {*!*/
/*@media (min-width: 360px) {*/
/*    #sidebar-wrapper {*/
/*        margin-right: 0;*/
/*    }*/

/*    #page-content-wrapper {*/
/*        min-width: 0;*/
/*        width: 100%;*/
/*    }*/

/*    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*        margin-left: -15rem;*/
/*    }*/

/*}*/














@charset "UTF-8";

@font-face {
    font-family: 'Cairo Regular';
    font-style: normal;
    src: url(cairo-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://www.ninava.gov.iq/css/MaterialIcons-Regular.ttf) format('truetype');
}

.Cairo-Regular {
    font-family: 'Cairo Regular', serif;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-family: 'cairo', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #999999;
}

a.footerLink{
    text-decoration: none;
    color: #dddddd;
}


